@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: rgb(222, 240, 241);
}
.navbar {
  display: flex;
}
.navbar img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  margin-top: 55px;
  margin-left: 100px;
}
.navbar_list {
  margin-top: 55px;
  margin-left: 50px;
}
.navbar_list p {
  color: #d9c6ab;
}
.navbar_list h2 {
  font-size: 45px;
  font-weight: 900;
}

.navbar_list button {
  width: 225px;
  height: 60px;
  background-color: rgb(153, 196, 197);
  border-radius: 8px;
  color: white;
}
h2 {
  color: #9e8c6c;
}

section {
  display: flex;
}
.list {
  width: 480px;
  margin-top: 50px;
  margin-left: 80px;
}
#li p {
  color: rgb(104, 160, 161);
}
.block {
  width: 100px;
  height: 15px;
  background-color: rgb(153, 196, 197);
  margin-bottom: 60px;
}
.text {
  margin-top: 80px;
  margin-left: 120px;
}
.my-skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
  margin-top: 50px;
}
.skill p {
  color: black;
  display: flex;
}
.html {
  width: 100%;
  height: 30px;
  background-color: rgb(88, 175, 223);
  border-radius: 100%;
  color: black;
}
.css {
  width: 93%;
  height: 23px;
  background-color: rgb(88, 175, 223);
  border-radius: 100%;
  color: black;
}
.js {
  width: 88%;
  height: 15px;
  background-color: rgb(88, 175, 223);
  border-radius: 100%;
  color: black;
}
.php {
  width: 80%;
  height: 10px;
  background-color: rgb(88, 175, 223);
  border-radius: 100%;
  color: black;
}
.phps {
  width: 73%;
  height: 10px;
  background-color: rgb(88, 175, 223);
  border-radius: 100%;
  color: black;
}
.phpp {
  width: 60%;
  height: 10px;
  background-color: rgb(88, 175, 223);
  border-radius: 100%;
  color: black;
}
#me {
  color: black;
  font-size: x-large;
}
.text p {
  width: 800px;
}

#skills .main-title h2 {
  color: black;
}
